---
import General from '../layouts/General.astro'
---

<General>

<div class="wrapper">
    
    <iframe class="big-video" width="1120" height="630" src="https://www.youtube.com/embed/JYMkT4IlfLU?si=B7TtwntryPR11S8E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    
    <div class="lColumn">		
        <h2><span>Контакти</span></h2>
        <div class="block">
        <p>За интервюта, концерти и участия - 0895 230 440.</p>						
        </div>

        <h2>Важни връзки</h2>
        <div class="block">
        <p>- Песни, клипове и текстове. <a href="discography">Виж тук</a>.</p>
        <p>- Официален YouTube канал - <a href="" target="_blank">Виж тук</a></p>
        <p>- Официална Facebook страница - <a href="https://www.facebook.com/ReniOfficialMusic" target="_blank">Виж тук</a></p>
        </div>
    </div><!-- left column -->

    <div class="rColumn">

        

        <h2 id="calendar"><span>Календар</span></h2>
        <p>Къде и кога можете да видите Рени.</p>
        <dl>
            <dt>7 Май 2025</dt>
            <dd>
                Концерт в зала 1 на НДК.
                Закупете своя билет от:<br />
                ➡️ Касите на Изипей<br />
                ➡️ Билетен център на НДК<br />
                ➡️ Онлайн: <a href="https://epaygo.bg/8231410864" target="_blank">https://epaygo.bg/8231410864</a>
            </dd>

            <dt>28 Ноември 2014</dt>
            <dd>Restaurant BLACK SEA, 81 Portway, E15 3QJ, Stratford, London,
United Kingdom, 0744 8641205</dd>
            <dt>29 Ноември 2014</dt>
            <dd>Bar & Restaurant SUNSET, 422 West Green Road, N15 3PU, London,
United Kingdom, 0744 7406404</dd>
                                                
        </dl>

        
    </div><!-- right column -->
</div>
</General>